PORT=6767
MONGO_URI=The_mongodb_connection
#refer back to the .env in discord

#JWT
JWT_SECRET=long_random_secret_on_server
JWT_EXPIRES_IN=7d

#Email (SendGrid)
EMAIL_ENABLED=false
EMAIL_FROM=noreply@resumereaper.com
APP_URL=https://resumereaper.com/
GRID_KEY=SG.xxxxxxxxxxxxxxxxxxxx